@mixin getDefaultBorders {
  --flume-border-none: 0px;
  --flume-border-xxs: 1px;
  --flume-border-xs: 2px;
  --flume-border-sm: 4px;
  --flume-border-md: 6px;
  --flume-border-pill: 100px;
  --flume-border-full: 50%;
  --flume-border-handle: 0px 4px 0px 4px;
}

@mixin setBorders() {
  :root {
    @content;
  }
}

$hasCustomBorders: false !default;
@if $hasCustomBorders == false {
  :root {
    @include getDefaultBorders();
  }
}
