@mixin getDefaultColors {
  --flume-color-primary: #ffbf00;
  --flume-color-on-primary: #242729;
  --flume-color-secondary: #36393b;
  --flume-color-on-secondary: #eee;
  --flume-color-signal: #de3131;
  --flume-color-on-signal: #fff;
  --flume-color-icon: #eee;
  --flume-color-header: #fff;
  --flume-color-body: #eee;
  --flume-color-subtitle: #ccc;
  --flume-color-button-focus: #fff;
  --flume-color-success: #34d058;
  --flume-color-on-success: #144630;
  --flume-color-warning: #f9c513;
  --flume-color-on-warning: #735c0f;
  --flume-color-error: #e24736;
  --flume-color-on-error: #86181d;
  --flume-color-shadow: #000;
  --flume-color-highlight: rgba(255, 255, 255, 0.1);
  --flume-color-inactive: rgba(255, 255, 255, 0.5);
  --flume-color-overlay: rgba(0, 0, 0, 0.7);
  --flume-color-win: #00a828;
  --flume-color-loss: #e24736;
  --flume-color-winner: #ddcb40;
  --flume-color-runnerup: #c2d5e2;
  --flume-color-elimination: #ccc;

  $flume-colors: (
    on-primary: var(--flume-color-on-primary),
    primary: var(--flume-color-primary),
    secondary: var(--flume-color-secondary),
    on-secondary: var(--flume-color-on-secondary),
    signal: var(--flume-color-signal),
    on-signal: var(--flume-color-on-signal),
    icon: var(--flume-color-icon),
    header: var(--flume-color-header),
    body: var(--flume-color-body),
    subtitle: var(--flume-color-subtitle),
    button-focus: var(--flume-color-button-focus),
    success: var(--flume-color-success),
    on-success: var(--flume-color-on-success),
    warning: var(--flume-color-warning),
    on-warning: var(--flume-color-on-warning),
    error: var(--flume-color-error),
    on-error: var(--flume-color-on-error),
    shadow: var(--flume-color-shadow),
    highlight: var(--flume-color-highlight),
    inactive: var(--flume-color-inactive),
    overlay: var(--flume-color-overlay),
    win: var(--flume-color-win),
    loss: var(--flume-color-loss),
    winner: var(--flume-color-winner),
    runnerup: var(--flume-color-runnerup),
    elimination: var(--flume-color-elimination)
  );
}

@mixin setColors() {
  :root {
    @content;
  }
}

$hasCustomColors: false !default;
@if $hasCustomColors == false {
  :root {
    @include getDefaultColors();
  }
}
