@mixin getDefaultShapes {
  --flume-shape-none: 0px;
  --flume-shape-xxs: 1px;
  --flume-shape-xs: 2px;
  --flume-shape-sm: 4px;
  --flume-shape-md: 6px;
  --flume-shape-pill: 100px;
  --flume-shape-full: 50%;
  --flume-shape-handle: 0px 4px 0px 4px;
}

@mixin setShapes() {
  :root {
    @content;
  }
}

$hasCustomShapes: false !default;
@if $hasCustomShapes == false {
  :root {
    @include getDefaultShapes();
  }
}
