@mixin getDefaultShapes {
  --flume-shape-none: 0px;
  --flume-shape-xxs: 1px;
  --flume-shape-xs: 2px;
  --flume-shape-sm: 4px;
  --flume-shape-md: 6px;
  --flume-shape-pill: 100px;
  --flume-shape-full: 50%;
  --flume-shape-handle: 0px 4px 0px 4px;

  $flume-shapes: (
    none: var(--flume-shape-none),
    xxs: var(--flume-shape-xxs),
    xs: var(--flume-shape-xs),
    sm: var(--flume-shape-sm),
    md: var(--flume-shape-md),
    pill: var(--flume-shape-pill),
    full: var(--flume-shape-full),
    handle: var(--flume-shape-handle)
  );
}

@mixin setShapes() {
  :root {
    @content;
  }
}

$hasCustomShapes: false !default;
@if $hasCustomShapes == false {
  :root {
    @include getDefaultShapes();
  }
}
