$bezier-curve: cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin getDefaultTransitions {
  --flume-transition-short: 0.1s $bezier-curve;
  --flume-transition-medium: 0.2s $bezier-curve;
  --flume-transition-long: 0.3s $bezier-curve;

  $flume-transitions: (
    short: var(--flume-transition-short),
    medium: var(--flume-transition-medium),
    long: var(--flume-transition-long)
  );
}

@mixin setTransitions() {
  :root {
    @content;
  }
}

$hasCustomTransitions: false !default;
@if $hasCustomTransitions == false {
  :root {
    @include getDefaultTransitions();
  }
}
