$bezier-curve: cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin getDefaultTypography {
  --flume-font-weight-regular: 400;
  --flume-font-weight-medium: 500;
  --flume-font-weight-semi-bold: 600;

  --flume-line-height-default: 1.2;

  --flume-font-family-header: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --flume-font-family-body: 'Mulish', sans-serif;

  --flume-font-size-header1: 2.25rem;
  --flume-font-size-header2: 1.5rem;
  --flume-font-size-header3: 1.125rem;
  --flume-font-size-header4: 1rem;
  --flume-font-size-header5: 0.875rem;
  --flume-font-size-body1: 0.875rem;
  --flume-font-size-body2: 0.75rem;
  --flume-font-size-body3: 0.625rem;
  --flume-font-size-button: 0.875rem;

  $flume-typography: (
    font-weight-regular: var(--flume-font-weight-regular),
    font-weight-medium: var(--flume-font-weight-medium),
    font-weight-semi-bold: var(--flume-font-weight-semi-bold),
    line-height-default: var(--flume-line-height-default),
    font-family-header: var(--flume-font-family-header),
    font-family-body: var(--flume-font-family-body),
    font-size-header1: var(--flume-font-size-header1),
    font-size-header2: var(--flume-font-size-header2),
    font-size-header3: var(--flume-font-size-header3),
    font-size-header4: var(--flume-font-size-header4),
    font-size-header5: var(--flume-font-size-header5),
    font-size-body1: var(--flume-font-size-body1),
    font-size-body2: var(--flume-font-size-body2),
    font-size-body3: var(--flume-font-size-body3),
    font-size-button: var(--flume-font-size-button)
  );
}

@mixin setTypography() {
  :root {
    @content;
  }
}

$hasCustomTypography: false !default;
@if $hasCustomTypography == false {
  :root {
    @include getDefaultTypography();
  }
}
