$bezier-curve: cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin getDefaultTypography {
  --flume-font-weight-regular: 400;
  --flume-font-weight-medium: 500;
  --flume-font-weight-semi-bold: 600;

  --flume-line-height-default: 1.2;

  --flume-font-family-header: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --flume-font-family-body: 'Mulish', sans-serif;

  --flume-font-size-header1: 2.25rem;
  --flume-font-size-header2: 1.5rem;
  --flume-font-size-header3: 1.125rem;
  --flume-font-size-header4: 1rem;
  --flume-font-size-header5: 0.875rem;
  --flume-font-size-body1: 0.875rem;
  --flume-font-size-body2: 0.75rem;
  --flume-font-size-body3: 0.625rem;
  --flume-font-size-button: 0.875rem;
}

@mixin setTypography() {
  :root {
    @content;
  }
}

$hasCustomTypography: false !default;
@if $hasCustomTypography == false {
  :root {
    @include getDefaultTypography();
  }
}

.flume-typo-header1 {
  font-family: var(--flume-font-family-header);
  font-weight: var(--flume-font-weight-semi-bold);
  font-size: var(--flume-font-size-header1);
  line-height: var(--flume-line-height-default);

  @media screen and (max-width: var(--flume-breakpoint-sm)) {
    font-size: calc(var(--flume-font-size-header1) * 0.75);
  }
}

.flume-typo-header2 {
  font-family: var(--flume-font-family-header);
  font-weight: var(--flume-font-weight-medium);
  font-size: var(--flume-font-size-header2);
  line-height: var(--flume-line-height-default);

  @media screen and (max-width: var(--flume-breakpoint-sm)) {
    font-size: calc(var(--flume-font-size-header2) * 0.75);
  }
}

.flume-typo-header3 {
  font-family: var(--flume-font-family-header);
  font-weight: var(--flume-font-weight-semi-bold);
  font-size: var(--flume-font-size-header3);
  line-height: var(--flume-line-height-default);

  @media screen and (max-width: var(--flume-breakpoint-sm)) {
    font-size: calc(var(--flume-font-size-header3) * 0.75);
  }
}

.flume-typo-header4 {
  font-family: var(--flume-font-family-header);
  font-weight: var(--flume-font-weight-medium);
  font-size: var(--flume-font-size-header4);
  line-height: var(--flume-line-height-default);

  @media screen and (max-width: var(--flume-breakpoint-sm)) {
    font-size: calc(var(--flume-font-size-header4) * 0.75);
  }
}

.flume-typo-header5 {
  font-family: var(--flume-font-family-header);
  font-weight: var(--flume-font-weight-medium);
  font-size: var(--flume-font-size-header5);
  line-height: var(--flume-line-height-default);
}

.flume-typo-body1 {
  font-family: var(--flume-font-family-body);
  font-weight: var(--flume-font-weight-regular);
  font-size: var(--flume-font-size-body1);
  line-height: var(--flume-line-height-default);
}

.flume-typo-body2 {
  font-family: var(--flume-font-family-body);
  font-weight: var(--flume-font-weight-regular);
  font-size: var(--flume-font-size-body2);
  line-height: var(--flume-line-height-default);
}

.flume-typo-body3 {
  font-family: var(--flume-font-family-body);
  font-weight: var(--flume-font-weight-medium);
  font-size: var(--flume-font-size-body3);
  line-height: var(--flume-line-height-default);
}

.flume-typo-button {
  font-family: var(--flume-font-family-header);
  font-weight: var(--flume-font-weight-medium);
  font-size: var(--flume-font-size-button);
  line-height: var(--flume-line-height-default);
}
