@import 'variables/index.scss';

h1 {
  font-family: $flume-font-family-header;
  font-weight: $flume-font-weight-semi-bold;
  font-size: $flume-font-size-header1;
  line-height: $flume-line-height-default;

  @media screen and (max-width: $flume-breakpoint-sm) {
    font-size: calc($flume-font-size-header1 * 0.75);
  }
}

h2 {
  font-family: $flume-font-family-header;
  font-weight: $flume-font-weight-medium;
  font-size: $flume-font-size-header2;
  line-height: $flume-line-height-default;

  @media screen and (max-width: $flume-breakpoint-sm) {
    font-size: calc($flume-font-size-header2 * 0.75);
  }
}

h3 {
  font-family: $flume-font-family-header;
  font-weight: $flume-font-weight-semi-bold;
  font-size: $flume-font-size-header3;
  line-height: $flume-line-height-default;

  @media screen and (max-width: $flume-breakpoint-sm) {
    font-size: calc($flume-font-size-header3 * 0.75);
  }
}

h4 {
  font-family: $flume-font-family-header;
  font-weight: $flume-font-weight-medium;
  font-size: $flume-font-size-header4;
  line-height: $flume-line-height-default;

  @media screen and (max-width: $flume-breakpoint-sm) {
    font-size: calc($flume-font-size-header4 * 0.75);
  }
}

h5 {
  font-family: $flume-font-family-header;
  font-weight: $flume-font-weight-medium;
  font-size: $flume-font-size-header5;
  line-height: $flume-line-height-default;
}

p {
  font-family: $flume-font-family-body;
  font-weight: $flume-font-weight-regular;
  font-size: $flume-font-size-body1;
  line-height: $flume-line-height-default;
}

button {
  font-family: $flume-font-family-header;
  font-weight: $flume-font-weight-medium;
  font-size: $flume-font-size-button;
  line-height: $flume-line-height-default;
}
