@use 'sass:map';

// min-width based visiblity
.flume-only-under-xs {
  @media (min-width: map.get($flume-breakpoints, 'xs')) {
    display: none;
  }
}

.flume-only-under-sm {
  @media (min-width: map.get($flume-breakpoints, 'sm')) {
    display: none;
  }
}

.flume-only-under-md {
  @media (min-width: map.get($flume-breakpoints, 'md')) {
    display: none;
  }
}

.flume-only-under-lg {
  @media (min-width: map.get($flume-breakpoints, 'lg')) {
    display: none;
  }
}

.flume-only-under-xl {
  @media (min-width: map.get($flume-breakpoints, 'xl')) {
    display: none;
  }
}

.flume-only-under-xxl {
  @media (min-width: map.get($flume-breakpoints, 'xxl')) {
    display: none;
  }
}

// max-width based visibility
.flume-only-over-xs {
  @media (max-width: map.get($flume-breakpoints, 'xs')) {
    display: none;
  }
}

.flume-only-over-sm {
  @media (max-width: map.get($flume-breakpoints, 'sm')) {
    display: none;
  }
}

.flume-only-over-md {
  @media (max-width: map.get($flume-breakpoints, 'md')) {
    display: none;
  }
}

.flume-only-over-lg {
  @media (max-width: map.get($flume-breakpoints, 'lg')) {
    display: none;
  }
}

.flume-only-over-xl {
  @media (max-width: map.get($flume-breakpoints, 'xl')) {
    display: none;
  }
}

.flume-only-over-xxl {
  @media (max-width: map.get($flume-breakpoints, 'xxl')) {
    display: none;
  }
}
