// Left margins
.flume-margin-left-xxxs {
  margin-left: $flume-spacing-xxxs;
}

.flume-margin-left-xxs {
  margin-left: $flume-spacing-xxs;
}

.flume-margin-left-xs {
  margin-left: $flume-spacing-xs;
}

.flume-margin-left-sm {
  margin-left: $flume-spacing-sm;
}

.flume-margin-left-md {
  margin-left: $flume-spacing-md;
}

.flume-margin-left-lg {
  margin-left: $flume-spacing-lg;
}

.flume-margin-left-xl {
  margin-left: $flume-spacing-xl;
}

.flume-margin-left-xxl {
  margin-left: $flume-spacing-xxl;
}

// Right margins
.flume-margin-right-xxxs {
  margin-right: $flume-spacing-xxxs;
}

.flume-margin-right-xxs {
  margin-right: $flume-spacing-xxs;
}

.flume-margin-right-xs {
  margin-right: $flume-spacing-xs;
}

.flume-margin-right-sm {
  margin-right: $flume-spacing-sm;
}

.flume-margin-right-md {
  margin-right: $flume-spacing-md;
}

.flume-margin-right-lg {
  margin-right: $flume-spacing-lg;
}

.flume-margin-right-xl {
  margin-right: $flume-spacing-xl;
}

.flume-margin-right-xxl {
  margin-right: $flume-spacing-xxl;
}

// Top margins
.flume-margin-top-xxxs {
  margin-top: $flume-spacing-xxxs;
}

.flume-margin-top-xxs {
  margin-top: $flume-spacing-xxs;
}

.flume-margin-top-xs {
  margin-top: $flume-spacing-xs;
}

.flume-margin-top-sm {
  margin-top: $flume-spacing-sm;
}

.flume-margin-top-md {
  margin-top: $flume-spacing-md;
}

.flume-margin-top-lg {
  margin-top: $flume-spacing-lg;
}

.flume-margin-top-xl {
  margin-top: $flume-spacing-xl;
}

.flume-margin-top-xxl {
  margin-top: $flume-spacing-xxl;
}

// Bottom margins
.flume-margin-bottom-xxxs {
  margin-bottom: $flume-spacing-xxxs;
}

.flume-margin-bottom-xxs {
  margin-bottom: $flume-spacing-xxs;
}

.flume-margin-bottom-xs {
  margin-bottom: $flume-spacing-xs;
}

.flume-margin-bottom-sm {
  margin-bottom: $flume-spacing-sm;
}

.flume-margin-bottom-md {
  margin-bottom: $flume-spacing-md;
}

.flume-margin-bottom-lg {
  margin-bottom: $flume-spacing-lg;
}

.flume-margin-bottom-xl {
  margin-bottom: $flume-spacing-xl;
}

.flume-margin-bottom-xxl {
  margin-bottom: $flume-spacing-xxl;
}

// All margins
.flume-margin-xxxs {
  margin: $flume-spacing-xxxs;
}

.flume-margin-xxs {
  margin: $flume-spacing-xxs;
}

.flume-margin-xs {
  margin: $flume-spacing-xs;
}

.flume-margin-sm {
  margin: $flume-spacing-sm;
}

.flume-margin-md {
  margin: $flume-spacing-md;
}

.flume-margin-lg {
  margin: $flume-spacing-lg;
}

.flume-margin-xl {
  margin: $flume-spacing-xl;
}

.flume-margin-xxl {
  margin: $flume-spacing-xxl;
}
