// Left margins
.flume-margin-left-xxxs {
  margin-left: var(--flume-spacing-xxxs);
}

.flume-margin-left-xxs {
  margin-left: var(--flume-spacing-xxs);
}

.flume-margin-left-xs {
  margin-left: var(--flume-spacing-xs);
}

.flume-margin-left-sm {
  margin-left: var(--flume-spacing-sm);
}

.flume-margin-left-md {
  margin-left: var(--flume-spacing-md);
}

.flume-margin-left-lg {
  margin-left: var(--flume-spacing-lg);
}

.flume-margin-left-xl {
  margin-left: var(--flume-spacing-xl);
}

.flume-margin-left-xxl {
  margin-left: var(--flume-spacing-xxl);
}

// Right margins
.flume-margin-right-xxxs {
  margin-right: var(--flume-spacing-xxxs);
}

.flume-margin-right-xxs {
  margin-right: var(--flume-spacing-xxs);
}

.flume-margin-right-xs {
  margin-right: var(--flume-spacing-xs);
}

.flume-margin-right-sm {
  margin-right: var(--flume-spacing-sm);
}

.flume-margin-right-md {
  margin-right: var(--flume-spacing-md);
}

.flume-margin-right-lg {
  margin-right: var(--flume-spacing-lg);
}

.flume-margin-right-xl {
  margin-right: var(--flume-spacing-xl);
}

.flume-margin-right-xxl {
  margin-right: var(--flume-spacing-xxl);
}

// Top margins
.flume-margin-top-xxxs {
  margin-top: var(--flume-spacing-xxxs);
}

.flume-margin-top-xxs {
  margin-top: var(--flume-spacing-xxs);
}

.flume-margin-top-xs {
  margin-top: var(--flume-spacing-xs);
}

.flume-margin-top-sm {
  margin-top: var(--flume-spacing-sm);
}

.flume-margin-top-md {
  margin-top: var(--flume-spacing-md);
}

.flume-margin-top-lg {
  margin-top: var(--flume-spacing-lg);
}

.flume-margin-top-xl {
  margin-top: var(--flume-spacing-xl);
}

.flume-margin-top-xxl {
  margin-top: var(--flume-spacing-xxl);
}

// Bottom margins
.flume-margin-bottom-xxxs {
  margin-bottom: var(--flume-spacing-xxxs);
}

.flume-margin-bottom-xxs {
  margin-bottom: var(--flume-spacing-xxs);
}

.flume-margin-bottom-xs {
  margin-bottom: var(--flume-spacing-xs);
}

.flume-margin-bottom-sm {
  margin-bottom: var(--flume-spacing-sm);
}

.flume-margin-bottom-md {
  margin-bottom: var(--flume-spacing-md);
}

.flume-margin-bottom-lg {
  margin-bottom: var(--flume-spacing-lg);
}

.flume-margin-bottom-xl {
  margin-bottom: var(--flume-spacing-xl);
}

.flume-margin-bottom-xxl {
  margin-bottom: var(--flume-spacing-xxl);
}

// All margins
.flume-margin-xxxs {
  margin: var(--flume-spacing-xxxs);
}

.flume-margin-xxs {
  margin: var(--flume-spacing-xxs);
}

.flume-margin-xs {
  margin: var(--flume-spacing-xs);
}

.flume-margin-sm {
  margin: var(--flume-spacing-sm);
}

.flume-margin-md {
  margin: var(--flume-spacing-md);
}

.flume-margin-lg {
  margin: var(--flume-spacing-lg);
}

.flume-margin-xl {
  margin: var(--flume-spacing-xl);
}

.flume-margin-xxl {
  margin: var(--flume-spacing-xxl);
}
