@import '../variables/spacing';

// Left padding
.flume-padding-left-xxxs {
  padding-left: $flume-spacing-xxxs;
}

.flume-padding-left-xxs {
  padding-left: $flume-spacing-xxs;
}

.flume-padding-left-xs {
  padding-left: $flume-spacing-xs;
}

.flume-padding-left-sm {
  padding-left: $flume-spacing-sm;
}

.flume-padding-left-md {
  padding-left: $flume-spacing-md;
}

.flume-padding-left-lg {
  padding-left: $flume-spacing-lg;
}

.flume-padding-left-xl {
  padding-left: $flume-spacing-xl;
}

.flume-padding-left-xxl {
  padding-left: $flume-spacing-xxl;
}

// Right padding
.flume-padding-right-xxxs {
  padding-right: $flume-spacing-xxxs;
}

.flume-padding-right-xxs {
  padding-right: $flume-spacing-xxs;
}

.flume-padding-right-xs {
  padding-right: $flume-spacing-xs;
}

.flume-padding-right-sm {
  padding-right: $flume-spacing-sm;
}

.flume-padding-right-md {
  padding-right: $flume-spacing-md;
}

.flume-padding-right-lg {
  padding-right: $flume-spacing-lg;
}

.flume-padding-right-xl {
  padding-right: $flume-spacing-xl;
}

.flume-padding-right-xxl {
  padding-right: $flume-spacing-xxl;
}

// Top padding
.flume-padding-top-xxxs {
  padding-top: $flume-spacing-xxxs;
}

.flume-padding-top-xxs {
  padding-top: $flume-spacing-xxs;
}

.flume-padding-top-xs {
  padding-top: $flume-spacing-xs;
}

.flume-padding-top-sm {
  padding-top: $flume-spacing-sm;
}

.flume-padding-top-md {
  padding-top: $flume-spacing-md;
}

.flume-padding-top-lg {
  padding-top: $flume-spacing-lg;
}

.flume-padding-top-xl {
  padding-top: $flume-spacing-xl;
}

.flume-padding-top-xxl {
  padding-top: $flume-spacing-xxl;
}

// Bottom padding
.flume-padding-bottom-xxxs {
  padding-bottom: $flume-spacing-xxxs;
}

.flume-padding-bottom-xxs {
  padding-bottom: $flume-spacing-xxs;
}

.flume-padding-bottom-xs {
  padding-bottom: $flume-spacing-xs;
}

.flume-padding-bottom-sm {
  padding-bottom: $flume-spacing-sm;
}

.flume-padding-bottom-md {
  padding-bottom: $flume-spacing-md;
}

.flume-padding-bottom-lg {
  padding-bottom: $flume-spacing-lg;
}

.flume-padding-bottom-xl {
  padding-bottom: $flume-spacing-xl;
}

.flume-padding-bottom-xxl {
  padding-bottom: $flume-spacing-xxl;
}

// All padding
.flume-padding-xxxs {
  padding: $flume-spacing-xxxs;
}

.flume-padding-xxs {
  padding: $flume-spacing-xxs;
}

.flume-padding-xs {
  padding: $flume-spacing-xs;
}

.flume-padding-sm {
  padding: $flume-spacing-sm;
}

.flume-padding-md {
  padding: $flume-spacing-md;
}

.flume-padding-lg {
  padding: $flume-spacing-lg;
}

.flume-padding-xl {
  padding: $flume-spacing-xl;
}

.flume-padding-xxl {
  padding: $flume-spacing-xxl;
}
