@import '../variables/shadows';

.flume-shadows-xs {
  box-shadow: $flume-shadow-xs;
}

.flume-shadows-sm {
  box-shadow: $flume-shadow-sm;
}

.flume-shadow-md {
  box-shadow: $flume-shadow-md;
}

.flume-shadow-lg {
  box-shadow: $flume-shadow-lg;
}

.flume-shadow-glow {
  box-shadow: $flume-shadow-glow;
}
