.flume-shadows-xs {
  box-shadow: var(--flume-shadow-xs);
}

.flume-shadows-sm {
  box-shadow: var(--flume-shadow-sm);
}

.flume-shadow-md {
  box-shadow: var(--flume-shadow-md);
}

.flume-shadow-lg {
  box-shadow: var(--flume-shadow-lg);
}

.flume-shadow-glow {
  box-shadow: var(--flume-shadow-glow);
}
