@import '../variables/shapes.scss';

.flume-shape-none {
  border-radius: $flume-shape-none;
}

.flume-shape-xxs {
  border-radius: $flume-shape-xxs;
}

.flume-shape-xs {
  border-radius: $flume-shape-xs;
}

.flume-shape-md {
  border-radius: $flume-shape-md;
}

.flume-shape-pill {
  border-radius: $flume-shape-pill;
}

.flume-shape-full {
  border-radius: $flume-shape-full;
}

.flume-shape-handle {
  border-radius: $flume-shape-handle;
}
