.flume-shape-none {
  border-radius: var(--flume-border-none);
}

.flume-shape-xxs {
  border-radius: var(--flume-border-xxs);
}

.flume-shape-xs {
  border-radius: var(--flume-border-xs);
}

.flume-shape-md {
  border-radius: var(--flume-border-md);
}

.flume-shape-pill {
  border-radius: var(--flume-border-pill);
}

.flume-shape-full {
  border-radius: var(--flume-border-full);
}

.flume-shape-handle {
  border-radius: var(--flume-border-handle);
}
