.flume-transition-short {
  transition: all var(--flume-transition-short);
}

.flume-transition-medium {
  transition: all var(--flume-transition-medium);
}

.flume-transition-long {
  transition: all var(--flume-transition-long);
}
