$flume-breakpoint-default: 0rem;
$flume-breakpoint-xs: 29rem;
$flume-breakpoint-sm: 36rem;
$flume-breakpoint-md: 48rem;
$flume-breakpoint-lg: 62rem;
$flume-breakpoint-xl: 75rem;
$flume-breakpoint-xxl: 90rem;
