@import 'palette';

$flume-color-primary: $amber-orange !default;
$flume-color-on-primary: $abbey-blue !default;
$flume-color-secondary: $emperor-gray !default;
$flume-color-on-secondary: $off-white !default;
$flume-color-signal: $punch-red !default;
$flume-color-on-signal: $white !default;
$flume-color-icon: $off-white !default;
$flume-color-header: $white !default;
$flume-color-body: $off-white !default;
$flume-color-subtitle: $light-gray !default;
$flume-color-button-focus: $white !default;
$flume-color-success-light: $snowy-mint !default;
$flume-color-success: $emerald-green !default;
$flume-color-on-success: $parsley-green !default;
$flume-color-warning-light: $buttermilk-yellow !default;
$flume-color-warning: $lightning-yellow !default;
$flume-color-on-warning: $mustard-yellow !default;
$flume-color-error-light: $cosmos-red !default;
$flume-color-error: $cinnabar-red !default;
$flume-color-on-error: $falu-red !default;
$flume-color-shadow: $black !default;
$flume-color-highlight: $white-10 !default;
$flume-color-inactive: $white-50 !default;
$flume-color-overlay: $black-70 !default;
$flume-color-win: $bracket-green !default;
$flume-color-loss: $bracket-red !default;
$flume-color-winner: $wattle-gold !default;
$flume-color-runnerup: $misty-gray !default;
$flume-color-elimination: $light-gray !default;
