// Primary colors
$amber-orange: #ffbf00;
$emperor-gray: #36393b;
$abbey-blue: #242729;

// Secondary colors
$abbey-gray: #525556;
$cod-gray: #434647;
$punch-red: #de3131;
$bracket-red: #e24736;
$bracket-green: #00a828;
$lightning-yellow: #f9c513;
$emerald-green: #34d058;
$cinnabar-red: #e24736;
$mustard-yellow: #735c0f;
$parsley-green: #144620;
$falu-red: #86181d;
$wattle-gold: #ddcb40;
$cosmos-red: #ffd0d0;
$buttermilk-yellow: #fff5b1;
$snowy-mint: #c3ffd1;

// Game colors
$counter-strike: #ef8914;
$league-of-legends: #3c46a2;
$dota: #cc3c21;
$valorant: #ff4655;
$rocket-league: #3983bb;
$call-of-duty: #bebebe;
$overwatch: #f99e1a;
$rainbow-six: #bcbcbc;
$fifa: #ddddde;
$hearthstone: #586b8e;
$starcraft: #86b3e0;
$halo: #5c74a3;

// Neutral colors
$white: #fff;
$off-white: #eee;
$light-gray: #ccc;
$dusty-gray: #999;
$misty-gray: #c2d5e2;
$black: #000;

// Alpha variations
$white-10: rgba(255, 255, 255, 0.1);
$white-50: rgba(255, 255, 255, 0.5);
$black-70: rgba(0, 0, 0, 0.7);
