$flume-spacing-xxxs: 2px;
$flume-spacing-xxs: 4px;
$flume-spacing-xs: 8px;
$flume-spacing-sm: 12px;
$flume-spacing-md: 16px;
$flume-spacing-lg: 24px;
$flume-spacing-xl: 32px;
$flume-spacing-xxl: 48px;
