$flume-font-weight-regular: 400;
$flume-font-weight-medium: 500;
$flume-font-weight-semi-bold: 600;

$flume-line-height-default: 1.2;

$flume-font-family-header: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$flume-font-family-body: 'Mulish', sans-serif;

$flume-font-size-header1: 2.25rem;
$flume-font-size-header2: 1.5rem;
$flume-font-size-header3: 1.125rem;
$flume-font-size-header4: 1rem;
$flume-font-size-header5: 0.875rem;
$flume-font-size-body1: 0.875rem;
$flume-font-size-body2: 0.75rem;
$flume-font-size-body3: 0.625rem;
$flume-font-size-button: 0.875rem;
